.heading {
    position: relative;
    background-color: #314a80;
    height: 67px;
    z-index: 1;
}

.child {
    position: absolute;

}

.one {
    color: white;
    left: 10px;
    top: 10px;
}

.two {
    left: 20%;
    top: 10px;
}
.child ul li {
    display: inline-block;
    margin: 12px;
}
.child ul li a{
    color: white;
}
@media (max-width: 700px) {
    .two {
        display: none;
    }
    .one {
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

}

.container{
    display: flex;
    flex-flow: row wrap;

}
.slides {
    margin: 20px 40px;

    flex-grow: 1;
}



