.hh {
    position: relative;
    background-color: red;
    height: 67px;
    z-index: 1;
}

.child {
    position: absolute;
    background-color: cyan;
}

.one {
    left: 10px;
    top: 10px;
}

.two {
    left: 20%;
    top: 10px;
}
.child ul li {
    display: inline-block;
    margin: 12px;
}
@media (max-width: 700px) {
    .two {
        display: none;
    }
    .one {
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

}